
/* Setting CSS Variables */
:root {
  --color-one: white;
  --color-two: #c5283d;
  --color-three: #481d24;
  --color-four: #255f85;
  --color-five: #e9724c;
}

.l-content div.block:nth-of-type(4n+1) {
	background-color: var(--color-one);
}
.l-content div.block:nth-of-type(4n+2) {
	background-color: var(--color-two);
	color: white;
}
.l-content div.block:nth-of-type(4n+3) {
	background-color: var(--color-three);
	color: white;
}
.l-content div.block:nth-of-type(4n+4) {
	background-color: var(--color-four);
	color: white;
}