
/* Setting CSS Variables */
:root {
  --block-one: white;
  --block-two: #c5283d;
  --block-three: #481d24;
  --block-three: #255f85;
  --block-four: #e9724c;
}

.l-content div.block:nth-of-type(1) {
	background-color: var(--block-one);
}
.l-content div.block:nth-of-type(2) {
	background-color: var(--block-two);
}
.l-content div.block:nth-of-type(3) {
	background-color: var(--block-three);
}
.l-content div.block:nth-of-type(4) {
	background-color: var(--block-three);
}